/* TAG SELECTORS */

body {
    background-color: #C0DEFF;
}

img {
    height: 100px;
    width: 100px;
    position: relative;
    left: 50px;
}

img:hover {
    background-color: black;
}

p {
    background-color: #ADA2FF;
    color: #FFE5F1;
}

/* CLASS SELECTORS */

.banana {
    background-color: #ADA2FF;
}

.blueberry {
    background-color: #FFF8E1;
}

.circular {
    border-radius: 100%;
}


/* ID SELECTORS */

#heading {
    background-color: #FFE5F1;
    color: #ADA2FF;
    font-size: 60px;
}